.settings{
    border: 1px solid #000;
    &__box{
        padding: 10px 15px;
        &__title{
            height: 60px;
            display: flex;
            align-items: center;
        }
        &__li{
            padding: 5px 10px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background:#ddd;
            .item__burg{
                display: flex;
                align-items: center;
                >div{
                    display: flex;
                    align-items: center;
                    &:last-child{
                        margin-left: 15px;
                        font-size: 23px;
                    }
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                }
                
            }
            
        }
        &__input{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            .input__label{
                flex: 1;
                label{
                    font-size: 20px;
                }
            }
            .input__text{
                display: flex;
                align-items: center;
                input{
                    width: 100%;
                    padding: 10px;
                    flex: 1;
                }
                button{
                    background: transparent ;
                    border: none;
                    padding: 10px;
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            
        }
        &__delete{
            svg{
                width: 25px;
                height: 25px;
            }
        }
        
    }
    
}